@model Infotainment.Areas.Admin.Models.CreateNews
@{
    ViewBag.Title = "News";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("InsertNews", "TopNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @section Scripts{
        <script type="text/javascript">
            function fileCheck(obj) {
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                }
            }
        </script>
    }

    <section id="insertNews" class="container">
        <div class="row">
            <div class="col-xs12">
                <div id="content" class="content form-horizontal">
                    <div class="alert alert-info message-header-container">
                        <strong> @ViewBag.Message </strong>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Title">News Heading</label>
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Heading)
                            <input class="form-control text-box" data-val="true" placeholder="Enter news heading..." data-val-required="The Heading field is required." id="Heading" name="Heading" type="text" value="@Model.Heading">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Image">Image</label>
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.Image)
                            <input type="file" name="Image" id="Image" onchange="fileCheck(this);">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Image">Image Caption</label>
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.ImageCaption)
                            <input class="form-control text-box" data-val="true" placeholder="Enter image caption..." data-val-required="The Heading field is required." id="ImageCaption" name="ImageCaption" type="text" value="@Model.ImageCaption">

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2" for="Description">Short Description</label>
                        <div class="col-md-10">
                            @Html.ValidationMessageFor(model => model.ShortDesc)
                            <textarea class="form-control" cols="100" data-val="true" id="ShortDesc" name="ShortDesc" placeholder="Enter short description..."
                                      data-val-required="The ShortDesc field is required." rows="5">
                                @Model.ShortDesc
                            </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="Contents">Description</label>
                        <div class="col-md-10">
                            <textarea class="ckeditor" data-val="true" id="Description" name="Description" placeholder="Enter description...">@Model.Description</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10 text-center">
                            <input type="submit" id="btnSubmit" class="btn btn-success" value="Click to Insert News" style="width:50%; height:30px; padding:5px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}