@{
    ViewBag.Title = "Contact US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>
    var myCenter = new google.maps.LatLng(28.604991, 77.297047);

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 12,
            scrollwheel: false,
            draggable: false,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myCenter,
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<section class="contactus" ng-controller="contactusCtrl">
    @*<div class="container">
            <h3>Contact Us</h3>
            <hr class="style-six" />
            <div class="row">
                <div class="col-xs-8">
                    @model Infotainment.Models.Mailing.Mail
                    @using (Html.BeginForm("ContactUs", "ContactUs", FormMethod.Post))
                    {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Send Mail" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                    }
                </div>
                <div class="col-xs-4">

                    <div id="contacts" class="address">
                        <h4>Contact \ Mailing Information</h4>
                        <hr class="style-seven" />
                        <p>
                            <strong>{{ContactUS.Name}}</strong>
                            <span>{{ContactUS.HouseName}}, {{ContactUS.HouseNo}}</span>
                            <span>{{ContactUS.Address1}}</span>
                            <span>{{ContactUS.Address2}}</span>
                            <span>{{ContactUS.City}}, {{ContactUS.State}}, {{ContactUS.Country}}</span>
                            <span>Pin : {{ContactUS.PinNo}}</span>
                            <span>Mailto : {{ContactUS.Email}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>*@
    <div id="contact" class="container-fluid bg-grey ">  
        <div class="row">
            <div class="col-sm-12">
                <h3>Contact</h3><p>Contact us and we'll get back to you within 24 hours.</p>
                <hr class="style-six" />
            </div>
        </div>     
        <div class="row">
            <div class="col-sm-5">
                <p>
                    {{ContactUS.HouseName}}, {{ContactUS.HouseNo}}<br />
                    {{ContactUS.Address1}}<br />
                    {{ContactUS.Address2}}<br />
                    {{ContactUS.City}}, {{ContactUS.State}}, {{ContactUS.Country}}
                </p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> {{ContactUS.Email}}<br />
                    <span class="glyphicon glyphicon-envelope"></span> {{ContactUS.Email1}}
                </p>
            </div>
            <div class="col-sm-7 slideanim slide">

                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required="">
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required="">
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-default pull-right" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="googleMap" style="height:400px;width:100%;"></div>
        </div>
    </div>
</section>
