@{
    ViewBag.Title = "Contact US";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="contactus" ng-controller="contactusCtrl">
    <div class="container">
        <h3>Contact Us</h3>
        <hr class="style-six" />
        <div class="row">
            <div class="col-xs-8">
                @model Infotainment.Models.Mailing.Mail
                @using (Html.BeginForm("ContactUs", "ContactUs", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Message, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Send Mail" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-xs-4">
                @*<div id="googleMap"></div>*@
                <div id="contacts" class="address">
                    <h4>Contact \ Mailing Information</h4>
                    <hr class="style-seven" />
                    <p>
                        <strong>{{ContactUS.Name}}</strong>
                        <span>{{ContactUS.HouseName}}, {{ContactUS.HouseNo}}</span>
                        <span>{{ContactUS.Address1}}</span>
                        <span>{{ContactUS.Address2}}</span>
                        <span>{{ContactUS.City}}, {{ContactUS.State}}, {{ContactUS.Country}}</span>
                        <span>Pin : {{ContactUS.PinNo}}</span>
                        <span>Mailto : {{ContactUS.Email}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
