<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/txtEditor")

    @Scripts.Render("~/bundles/AngularModule")
    @Scripts.Render("~/bundles/Common")
    @Scripts.Render("~/bundles/Services")

    @Scripts.Render("~/bundles/AngularModule")
    @Scripts.Render("~/bundles/Common")
    @Scripts.Render("~/bundles/Services")

    @Scripts.Render("~/bundles/AdminController")

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Media/css")

    @RenderSection("scripts", required: false)
</head>
<body ng-app="infotainment" ng-controller="mainCtrl">

    <header id="admin-header" class="admin-header">
        <section class="container">
            <div class="row">
                <div class="col-xs-12">
                    @{Html.RenderPartial("_PartialLogOut");}
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        @{Html.RenderPartial("_PartialAdminMenu");}
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section id="body" style="width:100%; padding:2px; overflow-x:hidden;">
        @*<div class="container">*@
            <div class="row">
                <div class="col-xs-12">
                    @RenderBody()
                </div>
            </div>
        @*</div>*@
    </section>
    <script>
        $(function () {
            var stickyMenu = $('#admin-header').offset().top;
            $(window).scroll(function () {
                if ($(window).scrollTop() > stickyMenu) {
                    $('#admin-header').css({ position: 'fixed', width: '100%', top: '0px' });
                } else {
                    $('#admin-header').css({ position: 'static', width: '100%', top: '0px' });
                }


            });
        });
    </script>
</body>
</html>
