<div class="admin-header-menu header-menu" style="width:1000px; margin:auto;">
    <ul id="menu" class="main-menu-ul">
        <li style="float:left; padding:0 5px 0 5px;">
            <div class="menu-heading">
                @{
                    var url = HttpUtility.UrlDecode(Url.Action("Index", "Home"));
                }
                <a data-ng-href="@url" target="_self"><span class="menu-text">Home</span></a>
            </div>

        </li>
        <li style="float:left; padding:0 5px 0 5px;">
            <div class="menu-heading">
                <span class="menu-text pull-left">News Update</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="news-menu" style="z-index:10;">
                <div class="column-first">
                    <div class="sub-menu-heading">Main News</div>
                    <ul>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("InsertNews", "TopNews"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Insert New</span></a>
                        </li>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Need Approval</span></a>
                        </li>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Make Active</span></a>
                        </li>

                    </ul>
                </div>

            </div>
        </li>
        <li style="float:left; padding:0 5px 0 5px;">
            <div class="menu-heading">
                <span class="menu-text pull-left">Search</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="news-menu" style="z-index:10;">
                <div class="column-first">
                    <ul>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("MainNewsSearch", "Search"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Search Main News</span></a>
                        </li>
                        @*<li>
                                @{
                                    url = HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"));
                                }
                                <a data-ng-href="@url" target="_self"><span class="news-heading-text">Need Approval</span></a>
                            </li>
                            <li>
                                @{
                                    url = HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"));
                                }
                                <a data-ng-href="@url" target="_self"><span class="news-heading-text">Make Active</span></a>
                            </li>*@

                    </ul>
                </div>

            </div>
        </li>
        <li style="float:left; padding:0 5px 0 5px;">
            <div class="menu-heading">
                <span class="menu-text pull-left">Advertisment</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="news-menu" style="z-index:10;">
                <div class="column-first">
                    <ul>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("Select", "Advertisment"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">View All</span></a>
                        </li>
                        <li>
                            @{
                                url = HttpUtility.UrlDecode(Url.Action("Insert", "Advertisment"));
                            }
                            <a data-ng-href="@url" target="_self"><span class="news-heading-text">Create</span></a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </li>
        <li style="float:left; padding:0 5px 0 5px;">
            <div class="menu-heading">
                <span class="menu-text pull-left">मनोरंजन</span>
                <span class="pull-right down-arrow"></span>
            </div>
            <div class="manoranjan-menu">
                <div class="column-first">
                    <ul>
                        <li><span>सिनेमा</span></li>
                        <li><span>मजाक</span></li>
                    </ul>
                </div>

            </div>
        </li>
    </ul>
</div>

