<ul class="menu">
    <li>
        <a href="@HttpUtility.UrlDecode(Url.Action("Index", "Home"))">
            <span>Home&nbsp;&nbsp;</span>
        </a>

    </li>
    @*<li>
        <a href="#">
            <span>Main News&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "TopNews"))">Insert</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"))">Approval</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"))">Activate</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>International News&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "International"))">Insert</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "International"))">Approval</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "International"))">Activate</a></li>
        </ul>
    </li>*@
    <li>
        <a href="#">
            <span>Insert&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "TopNews"))">Top News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "StateNews"))">State News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "International"))">Inter News</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>Approve&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"))">Top News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "StateNews"))">State News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "International"))">Inter News</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>Activate&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"))">Top News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "StateNews"))">State News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "International"))">Inter News</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>Search&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("MainNewsSearch", "Search"))">Main News</a></li>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("InterNewsSearch", "Search"))">Inter News</a></li>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("StateNewsSearch", "Search"))">State News</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>Top Advertisment&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("Insert", "Advertisment"))">Insert</a></li>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("Select", "Advertisment"))">View All</a></li>
        </ul>
    </li>
    @*<li>
        <a href="#">
            <span>खेल समाचार&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">क्रिकेट</a></li>
            <li><a href="#" class="documents">फ़ुटबॉल</a></li>
            <li><a href="#" class="documents">हॉकी</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>मनोरंजन&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">सिनेमा</a></li>
            <li><a href="#" class="documents">मजाक</a></li>
            <li><a href="#" class="documents">कहानियां</a></li>
        </ul>
    </li>
    <li><a href="#">ज्योतिष</a></li>
    <li><a href="#">हमारे बारे में</a></li>*@

</ul>
