<ul class="menu">
    <li>
        <a href="@HttpUtility.UrlDecode(Url.Action("Index", "Home"))">
            <span>Home&nbsp;&nbsp;</span>
        </a>

    </li>
    <li>
        <a href="#">
            <span>All News&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "TopNews"))">Insert News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"))">Approve News</a></li>
            <li><a href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"))">Make Active</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>Search&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("MainNewsSearch", "Search"))">Main News</a></li>
            <li><a class="documents" href="#">International News</a></li>
            <li><a class="documents" href="#">State News</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>Advertisment&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("InsertNews", "TopNews"))">Insert News</a></li>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("NeedApproval", "TopNews"))">Approve News</a></li>
            <li><a class="documents" href="@HttpUtility.UrlDecode(Url.Action("MakeActive", "TopNews"))">Make Active</a></li>
        </ul>
    </li>
    @*<li>
        <a href="#">
            <span>खेल समाचार&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">क्रिकेट</a></li>
            <li><a href="#" class="documents">फ़ुटबॉल</a></li>
            <li><a href="#" class="documents">हॉकी</a></li>
        </ul>
    </li>
    <li>
        <a href="#">
            <span>मनोरंजन&nbsp;</span>
            <span class="pull-right down-arrow"></span>
        </a>
        <ul>
            <li><a href="#" class="documents">सिनेमा</a></li>
            <li><a href="#" class="documents">मजाक</a></li>
            <li><a href="#" class="documents">कहानियां</a></li>
        </ul>
    </li>
    <li><a href="#">ज्योतिष</a></li>
    <li><a href="#">हमारे बारे में</a></li>*@

</ul>
