@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="topNews" class="container" ng-controller="TopNewsCtrl">
    <div class="row">
        <div class="col-xs-8">
            <div class="row">
                <div class="col-xs-6 col-lg-6" style="min-width:150px;">
                    <div class="top-ten-news">
                        <div ng-repeat="news in imageNewsList" class="news">
                            <div class="news-heading">
                                @{
                                    var url = Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" });
                                    url = HttpUtility.UrlDecode(url);
                                }
                                <a data-ng-href="@url" target="_blank"><span class="news-heading-text">{{news.Heading}}</span></a>
                            </div>
                            <div class="news-body">
                                <div class="pull-left">
                                    <a href="{{news.NewsID}}">
                                        @*<img src="~/{{news.ImageUrl}}" alt="" class="image">*@
                                        <img ng-src="{{news.ImageUrl}}" alt="" class="image">
                                    </a>
                                </div>
                                <div class="article pull-right">
                                    <span>{{news.ShortDescription}}</span>
                                    @{
                                        url = Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" });
                                        url = HttpUtility.UrlDecode(url);
                                    }
                                    <a data-ng-href="@url" target="_blank"><span class="more">&nbsp;&nbsp;More..</span></a>
                                </div>
                            </div>
                        </div>
                        @{
                            url = Url.Action("NewsList", "MainNews", new { NewsType = "{{newsListPageUrl}}" });
                            url = HttpUtility.UrlDecode(url);
                        }
                        <div class="read-more" style="margin-top: -18px"><a data-ng-href="@url" target="_blank"><span>और पढ़ें</span></a></div>
                    </div>
                </div>
                <div class="col-xs-6 col-lg-6" style="min-width:150px;">
                    <div class="general-news">
                        <div class="news-title">
                            <span>{{simpleNewsHeading}}</span>
                            <hr class="style-five" />
                        </div>
                        <ul>
                            <li ng-repeat="simNews in simpleNewsList">
                                @{
                                    url = Url.Action("NewsDetail", "MainNews", new { NewsId = "{{simNews.NewsID}}" });
                                    url = HttpUtility.UrlDecode(url);
                                }
                                <a data-ng-href="@url" target="_blank" class="heading">
                                    <span>{{simNews.Heading}}</span>
                                </a>
                            </li>
                            @{
                                url = Url.Action("NewsList", "MainNews", new { NewsType = "{{simpleNewsPageUrl}}" });
                                url = HttpUtility.UrlDecode(url);
                            }
                            <div class="read-more" style="margin-top: -18px"><a data-ng-href="@url" target="_blank"><span>और पढ़ें</span></a></div>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4">

            <div class="advetise round-corner">
                <a href="http://www.dentistry.com" target="_blank">
                    <div class="text-border">
                        <img class="image" src="~/Images/Topten-Ad/dentistry-com.JPG" alt="24 Hours dental service">
                        <span class="caption">Dental care, articles & forum</span>
                        <span class="url">www.dentistry.com</span>
                        <span class="text">We have expert dental doctors. Dental emergency? Call 1-866-922-4095</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
            <div class="advetise round-corner">
                <a href="http://www.jabong.com/men/accessories/watches/?utm_source=facebook&utm_medium=social_paid&utm_campaign=m.1864.Ace_10591.150729.1421.AceM009.STA.CU152.TC000.INT000.BRD000.PC001.PS019.BR000.SC03.LPC&utm_content=AceF009+Ad+50&utm_id=55b87b8258e7ab3f578b4569&sort=discount&dir=desc&utm_term=f.1864.PAN.PR0000.ALL.C000.RS00.TL0451.TX0451.AceF009+Ad+50" target="_blank">
                    <div class="text-border">
                        <img class="image" src="~/Images/Topten-Ad/11409993_6035408267582_658037972_n.png" alt="Watches - Upto 70% Off">
                        <span class="caption">Watches - Upto 70% Off</span>
                        <span class="url">jabong.com</span>
                        <span class="text">Don’t miss your Favorite Brand Collections at Upto 80% Off. Pay on Delivery. Shop Now!</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
            <div class="advetise round-corner">
                <a href="http://www.naturesbasket.co.in" target="_blank">
                    <div class="text-border">
                        <img class="image" src="~/Images/Topten-Ad/safe_image.png" alt="naturesbasket.co.in">
                        <span class="caption">Fresher. Tastier. Healthier.</span>
                        <span class="url">naturesbasket.co.in</span>
                        <span class="text">Fresh fruits & vegetables delivered in 3 hours. Use Code GNB200 to Get Rs. 200 Off!</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
            <div class="advetise round-corner">
                <a href="http://www.naturesbasket.co.in" target="_blank">
                    <div class="text-border">
                        <img class="image" src="~/Images/Topten-Ad/safe_image.png" alt="naturesbasket.co.in">
                        <span class="caption">Fresher. Tastier. Healthier.</span>
                        <span class="url">naturesbasket.co.in</span>
                        <span class="text">Fresh fruits & vegetables delivered in 3 hours. Use Code GNB200 to Get Rs. 200 Off!</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>

        </div>
    </div>
</div>














































@*<div class="page-row" style="height: 322px;">
        <div class="first-second-column">
        </div>
        <div class="page-column">
            <div class="third-column-container">
                <div class="column-title"><span>राशिफल</span></div>
                <div class="column-body-container">
                    <div class="other-column-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="news-list-container">
        <div class="news-list-medium">
            <a href="#" target="_blank">
                <div class="image-div">
                    <img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" />
                </div>
                <div class="content-div">
                    <span style="padding-right: 2px;">सबसे बड़ी एवि‍एशन डील : सबसे बड़ी एवि‍एशन डील : इंडि‍गो ने 250 एयरबस के लि‍ए दि‍या 25 अरब डॉलर का ऑर्डर</span>
                </div>
            </a>
        </div>

        <div class="page-column">
            <div class="first-column-container">
                <div class="column-title"><span>हेल्थ टिप्स</span></div>
                <div class="column-body-container">

                    <a href="#">
                        <div class="first-column-body">
                            <img class="image" src="~/Images/HealthTips/1_1439210609.jpg" alt="">
                        </div>
                        <div class="first-image-text">
                            <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
*@