@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* Top ten news *@
<div id="topNews" class="container">

    <div class="row">
        <div class="col-xs-8">
            <div class="row" ng-controller="TopNewsCtrl">
                <div class="col-xs-12 news-title">
                    <a href="@HttpUtility.UrlDecode(Url.Action("NewsList", "MainNews", new { NewsType = "{{NewsType}}" }))" target="_self">
                        <span>{{MainNewsTitle}}</span>
                        <span class="more pull-right">{{Moreheading}}</span>
                    </a>
                    <hr class="style-eight" />
                </div>
                <div id="topNewsItem" class="col-xs-6 col-lg-6">
                    <div ng-show="news.ImageUrl.length > 0" class="row" ng-repeat="news in imageNewsList">
                        <div class="col-xs-12">
                            <div class="pull-left padding-right-five">
                                <img class=" news-image" ng-src="{{news.ImageUrl}}" alt=" ">
                            </div>
                            <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                                <span class="news-heading"> {{news.Heading}}</span>
                            </a>
                            @*<span class="news-date text-right" style="white-space:nowrap; display:block;">{{news.DttmCreated | hindiDate}}</span>*@
                            <p class="news-text" style="padding:0px; margin:0px;">{{news.ShortDesc | limitTo:shortDescLimit}}...&nbsp; </p>
                            <p style="padding:0px; margin:0px; text-align:right" class="news-date">
                                {{news.DttmCreated | hindiDate}}
                                <a class="more" data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">और पढ़ें..</a>
                            </p>
                            <hr class="style-seven" />
                        </div>
                    </div>
                </div>
                <div id="topNewsItemDesc" class="col-xs-6 col-lg-6">
                    <div class="row" ng-repeat="news in simpleNewsList">
                        <div class="col-xs-12">
                            <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                                <span class="news-heading"> {{news.Heading}}</span>

                            </a>
                            @*<span class="news-date text-right" style="white-space:nowrap; display:block;">{{news.DttmCreated | hindiDate}}</span>*@
                            <p class="news-text" style="padding:0px; margin:0px;">{{news.ShortDesc | limitTo:shortDescLimit}}...&nbsp; </p>
                            <p style="padding:0px; margin:0px; text-align:right" class="news-date">
                                {{news.DttmCreated | hindiDate}}
                                <a class="more" data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">और पढ़ें..</a>
                            </p>
                            <hr class="style-seven" />
                        </div>
                    </div>
                </div>
            </div>
            @*  International News *@
            <div class="row" style="height:15px;"></div>
            @*<div class="row" id="internationalNews" ng-controller="internationalNewsCtrl">
                <div class="col-xs-12 news-title">
                    <a href="@HttpUtility.UrlDecode(Url.Action("NewsList", "MainNews", new { NewsType = "{{NewsType}}" }))" target="_self">
                        <span>{{InterTitle}}</span>
                        <span class="more pull-right">{{Moreheading}}</span>
                    </a>
                    <hr class="style-eight" />
                </div>
                <div id="interImageNews" class="col-xs-6 col-lg-6">
                    <div ng-repeat="news in newsList" class="row">
                        <div class="col-xs-12">
                            <div class="pull-left padding-right-five">
                                <img class="news-image" ng-src="{{news.ImageUrl}}" alt=" ">
                            </div>
                            <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                                <span class="news-heading"> {{news.Heading}}</span>
                            </a>

                            <p class="news-text padding-top-2">
                                {{news.ShortDesc | limitTo:shortDescLimit}}...&nbsp;&nbsp;
                                @*<span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated | hindiDate}}</span>*@
                                <a class="more" data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "InternationalNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">और पढ़ें..</a>
                            </p>

                            <hr class="style-seven" />
                        </div>
                    </div>
                </div>
                <div id="interNews" class="col-xs-6 col-lg-6">
                    @*<div ng-repeat="news in newsList" class="row">
                            <div class="col-xs-12">
                                <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                                    <span class="news-heading"> {{news.Heading}}</span>
                                </a>
                                <p class="news-text padding-top-2">
                                    {{news.ShortDesc | limitTo:shortDescLimit}}...&nbsp;&nbsp;
                                    <span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated | hindiDate}}</span>
                                    <a class="more" data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">और पढ़ें..</a>
                                </p>

                                <hr class="style-two" />
                            </div>
                        </div>*@
                </div>
            </div>*@
            @*  End International News *@
        </div>

        <div class="col-xs-4" ng-controller="advertismentCtrl">
            <div class="advetise round-corner" ng-repeat="advertise in advertiseList">
                <a href="{{advertise.WebLink}}" target="_blank">
                    <div class="text-border">
                        <img class="image" src="{{advertise.ImgUrl}}" alt="24 Hours dental service">
                        <span class="caption">{{advertise.Heading}}</span>
                        <span class="url">{{advertise.WebUrl}}</span>
                        <span class="text">{{advertise.ShortDesc}}</span>
                    </div>
                </a>
                <div class="space-top3"></div>
            </div>
        </div>
    </div>
    @* End Top ten news *@
</div>














































@*<div class="page-row" style="height: 322px;">
        <div class="first-second-column">
        </div>
        <div class="page-column">
            <div class="third-column-container">
                <div class="column-title"><span>राशिफल</span></div>
                <div class="column-body-container">
                    <div class="other-column-body">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="news-list-container">
        <div class="news-list-medium">
            <a href="#" target="_self">
                <div class="image-div">
                    <img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" />
                </div>
                <div class="content-div">
                    <span style="padding-right: 2px;">सबसे बड़ी एवि‍एशन डील : सबसे बड़ी एवि‍एशन डील : इंडि‍गो ने 250 एयरबस के लि‍ए दि‍या 25 अरब डॉलर का ऑर्डर</span>
                </div>
            </a>
        </div>

        <div class="page-column">
            <div class="first-column-container">
                <div class="column-title"><span>हेल्थ टिप्स</span></div>
                <div class="column-body-container">

                    <a href="#">
                        <div class="first-column-body">
                            <img class="image" src="~/Images/HealthTips/1_1439210609.jpg" alt="">
                        </div>
                        <div class="first-image-text">
                            <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                        </div>
                    </a>

                </div>
            </div>
        </div>
*@