@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="page-row" ng-controller="indexCtrl">
        <div class="first-second-column">
            <div id="mainNews" ng-controller="TopTenNewsCtrl" class="border round-corner-bottom" style="height: 908px;">
                <div class="page-column">
                    <div class="top-ten-news">
                        <div ng-repeat="news in imageNewsList" class="news">
                            <div class="news-heading">
                                @{
                                    var url = Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" });
                                    url = HttpUtility.UrlDecode(url);
                                }
                                <a data-ng-href="@url" target="_blank"><span class="news-heading-text">{{news.Heading}}</span></a>
                            </div>
                            <div class="news-body">
                                <div class="pull-left">
                                    <a href="{{news.NewsID}}">
                                        <img src="~/{{news.ImageUrl}}" alt="" class="image"></a>
                                </div>
                                <div class="article pull-right">
                                    <span>{{news.ShortDescription}}</span>
                                    @{
                                        url = Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" });
                                        url = HttpUtility.UrlDecode(url);
                                    }
                                    <a data-ng-href="@url" target="_blank"><span class="more">&nbsp;&nbsp;More..</span></a>
                                </div>
                            </div>
                        </div>
                        @{
                            url = Url.Action("NewsList", "MainNews", new { NewsType = "{{newsListPageUrl}}" });
                            url = HttpUtility.UrlDecode(url);
                        }
                        <div class="read-more" style="margin-top: -18px"><a data-ng-href="@url" target="_blank"><span>और पढ़ें</span></a></div>
                    </div>
                </div>
                <div class="page-column">
                    <div id="exclusie-video" class="exclusie-video">
                        <div class="news-heading">
                            <a href="#" class="heading">
                                <span>{{videoHeading}}</span>
                            </a>
                        </div>
                        <div class="news-body">
                            <iframe class="video" ng-src="{{videoUrl}}" frameborder="1" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="general-news">
                        <div class="news-title">
                            <span>{{simpleNewsHeading}}</span>
                            <hr class="style-five" />
                        </div>
                        <ul>
                            <li ng-repeat="simNews in simpleNewsList">
                                @{
                                    url = Url.Action("NewsDetail", "MainNews", new { NewsId = "{{simNews.NewsID}}" });
                                    url = HttpUtility.UrlDecode(url);
                                }
                                <a data-ng-href="@url" target="_blank" class="heading">
                                    <span>{{simNews.Heading}}</span>
                                </a>
                            </li>
                            @{
                                url = Url.Action("NewsList", "MainNews", new { NewsType = "{{simpleNewsPageUrl}}" });
                                url = HttpUtility.UrlDecode(url);
                            }
                            <div class="read-more" style="margin-top: -18px"><a data-ng-href="@url" target="_blank"><span>और पढ़ें</span></a></div>
                        </ul>

                    </div>

                </div>
            </div>
            <div id="stateNews" ng-controller="stateNewsHomeCtrl" class="page-row">
                <div class="page-column colspan-two space-top3">
                    <div class="state-tab-control round-corner">
                        <div class="column-title">
                            @{
                                url = Url.Action("AllStateNews", "StateNews", new { NewsType = "{{PageUrl}}" });
                                url = HttpUtility.UrlDecode(url);
                            }
                            <a data-ng-href="@url" target="_blank"><span>{{Title}}</span></a>
                        </div>
                        <hr class="style-three" />
                        <div class="tab-header-container">
                            <ul>
                                <li ng-repeat="state in StateTabList" id="{{state.TabIdName}}" class="{{state.IsActive ? 'active-state-news-header' : 'de-active-state-news-header'}}"
                                    ng-click="changeStateNewsTab(this)"><span>{{state.StateName}}</span></li>
                                @*<li id="up" class="de-active-state-news-header" ng-click="changeStateNewsTab('up')"><span>{{StateNames.up}}</span></li>
                                <li id="chhattisgarh" class="de-active-state-news-header" ng-click="changeStateNewsTab('chhattisgarh')"><span>{{StateNames.chhattisgarh}}</span></li>
                                <li id="mp" class="de-active-state-news-header" ng-click="changeStateNewsTab('mp')"><span>{{StateNames.mp}}</span></li>
                                <li id="rajasthan" class="de-active-state-news-header" ng-click="changeStateNewsTab('rajasthan')"><span>{{StateNames.rajasthan}}</span></li>
                                <li id="himachal" class="de-active-state-news-header" ng-click="changeStateNewsTab('himachal')"><span>{{StateNames.himachal}}</span></li>
                                <li id="panjab" class="de-active-state-news-header" ng-click="changeStateNewsTab('panjab')"><span>{{StateNames.panjab}}</span></li>*@
                            </ul>
                        </div>
                        <div class="tab-content-container">
                            <div ng-repeat="tabContainer in StateNewsContainerList" id="{{tabContainer.TabContainerId}}" class="{{tabContainer.IsActiveContainer ? 'tab-content display' : 'tab-content hide'}}">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{tabContainer.NewsId}}" target="_blank">
                                            <img src="~/{{tabContainer.ImageUrl}}" alt="image" />
                                            <strong>Bihar: {{tabContainer.ImageCaption}}</strong>
                                            <p>{{tabContainer.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            {{tabContainer.StateName}}
                                             <hr class="style-three" />
                                            <ul>
                                                <li ng-repeat="head in tabContainer.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{tabContainer.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            @*<div id="up-container" class="tab-content">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{upNews.ID}}" target="_blank">
                                            <img src="~/{{upNews.ImageUrl}}" alt="image" />
                                            <strong>UP: {{upNews.ImageCaption}}</strong>
                                            <p>{{upNews.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="head in upNews.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{biharNews.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="chhattisgarh-container" class="tab-content">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{chhattisgarhNews.ID}}" target="_blank">
                                            <img src="~/{{chhattisgarhNews.ImageUrl}}" alt="image" />
                                            <strong>{{chhattisgarhNews.ImageCaption}}</strong>
                                            <p>{{chhattisgarhNews.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="head in chhattisgarhNews.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{biharNews.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="mp-container" class="tab-content">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{mpNews.ID}}" target="_blank">
                                            <img src="~/{{mpNews.ImageUrl}}" alt="image" />
                                            <strong>{{mpNews.ImageCaption}}</strong>
                                            <p>{{mpNews.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="head in mpNews.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{biharNews.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="rajasthan-container" class="tab-content">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{rajasthanNews.ID}}" target="_blank">
                                            <img src="~/{{rajasthanNews.ImageUrl}}" alt="image" />
                                            <strong>{{rajasthanNews.ImageCaption}}</strong>
                                            <p>{{rajasthanNews.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="head in rajasthanNews.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{biharNews.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="himachal-container" class="tab-content">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{himachalNews.ID}}" target="_blank">
                                            <img src="~/{{himachalNews.ImageUrl}}" alt="image" />
                                            <strong>{{himachalNews.ImageCaption}}</strong>
                                            <p>{{himachalNews.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="head in himachalNews.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{biharNews.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="panjab-container" class="tab-content">
                                <div class="tab-height">
                                    <div class="topnews">
                                        <a href="{{panjabNews.ID}}" target="_blank">
                                            <img src="~/{{panjabNews.ImageUrl}}" alt="image" />
                                            <strong>{{panjabNews.ImageCaption}}</strong>
                                            <p>{{panjabNews.ShortDesc}}</p>
                                        </a>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="head in panjabNews.simpleNewsList">
                                                    <a href="{{head.ID}}" target="_blank"><span class="heading">{{head.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{biharNews.PageUrl}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div id="internationalNews" ng-controller="internationalNewsCtrl" class="page-row">
                <div class="page-column first-second-column space-top3">
                    <div class="international-news-container round-corner">
                        <div class="column-title"><a href="{{PageUrl}}" target="_blank"><span>{{Title}}</span></a></div>
                        <hr class="style-three" />
                        <div class="image-news-list">
                            <div ng-repeat="imageNews in imageNewsList" class="image-news border-bottom">
                                <a href="{{imageNews.ID}}" target="_blank">
                                    <div class="news-image pull-left">
                                        <img src="~/{{imageNews.ImageUrl}}" alt="" class="image">
                                    </div>
                                    <div class="news-text pull-right">
                                        <span>{{imageNews.Heading}}</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="simple-news-list newslist-container">
                            <div class="newslist-simmple">
                                <strong>{{Others}}</strong>
                                <hr class="style-five" />
                                <ul>
                                    <li ng-repeat="news in simpleNewsList"><a href="{{news.ID}}" target="_blank"><span class="heading">{{news.Heading}}</span></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="read-more" style="margin-top: -22px;"><a href="#" target="_blank"><span>और पढ़ें</span></a></div>
                </div>
            </div>
            <div id="GameNews" ng-controller="gmaeNewsCtrl" class="page-row">
                <div class="page-column colspan-two">
                    <div class="tab-control">
                        <div class="tab-header-container">
                            <div id="cricket" class="tab-header active-tab-header" ng-click="onClickTab('cricket')"><span>{{GameNewsTab.Cricket}}</span></div>
                            <div id="football" class="tab-header de-active-tab-header" ng-click="onClickTab('football')"><span>{{GameNewsTab.Football}}</span></div>
                            <div id="hockey" class="tab-header de-active-tab-header" ng-click="onClickTab('hockey')"><span>{{GameNewsTab.Hockey}}</span></div>
                            <div id="playStory" class="tab-header de-active-tab-header" ng-click="onClickTab('playStory')"><span>{{GameNewsTab.GameStory}}</span></div>
                        </div>
                        <div class="tab-content-container round-corner">
                            <div id="cricket-container" class="tab-content" style="display: block;">
                                <div class="game-tab-height">
                                    <div class="topnews">
                                        <img src="~/{{CricketNews.ImageUrl}}" alt="image" />
                                        <strong>{{CricketNews.ImageCaption}}</strong>
                                        <p>{{CricketNews.ShortDesc}} </p>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="news in CricketNews.SimpleNewsList"><a href="{{news.ID}}" target="_blank"><span class="heading">{{news.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{CricketNews.ID}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="football-container" class="tab-content">
                                <div class="game-tab-height">
                                    <div class="topnews">
                                        <img src="~/{{Football.ImageUrl}}" alt="image" />
                                        <strong>{{Football.ImageCaption}}</strong>
                                        <p>{{Football.ShortDesc}} </p>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="news in Football.SimpleNewsList"><a href="{{news.ID}}" target="_blank"><span class="heading">{{news.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{Football.ID}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="hockey-container" class="tab-content">
                                <div class="game-tab-height">
                                    <div class="topnews">
                                        <img src="~/{{Hockey.ImageUrl}}" alt="image" />
                                        <strong>{{Hockey.ImageCaptions}}</strong>
                                        <p>{{Hockey.ShortDesc}} </p>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="news in Hockey.SimpleNewsList"><a href="{{news.ID}}" target="_blank"><span class="heading">{{news.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{Hockey.ID}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                            <div id="story-container" class="tab-content">
                                <div class="game-tab-height">
                                    <div class="topnews">
                                        <img src="~/{{GameStory.ImageUrl}}" alt="image" />
                                        <strong>{{GameStory.ImageCaption}}</strong>
                                        <p>{{GameStory.ShortDesc}} </p>
                                    </div>
                                    <div class="newslist-container">
                                        <div class="newslist-simmple">
                                            <ul>
                                                <li ng-repeat="news in GameStory.SimpleNewsList"><a href="{{news.ID}}" target="_blank"><span class="heading">{{news.Heading}}</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="read-more"><a href="{{GameStory.ID}}" target="_blank"><span>और पढ़ें</span></a></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="page-column third-column-container">
            <div class="advertise-container">
                <div class="advetise round-corner">
                    <a href="http://www.dentistry.com" target="_blank">
                        <div class="text-border">
                            <img class="image" src="~/Images/Topten-Ad/dentistry-com.JPG" alt="24 Hours dental service">
                            <span class="caption">Dental care, articles & forum</span>
                            <span class="url">www.dentistry.com/</span>
                            <span class="text">We have expert dental doctors. Dental emergency? Call 1-866-922-4095</span>
                        </div>
                    </a>
                    <div class="space-top3"></div>
                </div>
                <div class="advetise round-corner">
                    <a href="http://www.jabong.com/men/accessories/watches/?utm_source=facebook&utm_medium=social_paid&utm_campaign=m.1864.Ace_10591.150729.1421.AceM009.STA.CU152.TC000.INT000.BRD000.PC001.PS019.BR000.SC03.LPC&utm_content=AceF009+Ad+50&utm_id=55b87b8258e7ab3f578b4569&sort=discount&dir=desc&utm_term=f.1864.PAN.PR0000.ALL.C000.RS00.TL0451.TX0451.AceF009+Ad+50" target="_blank">
                        <div class="text-border">
                            <img class="image" src="~/Images/Topten-Ad/11409993_6035408267582_658037972_n.png" alt="Watches - Upto 70% Off">
                            <span class="caption">Watches - Upto 70% Off</span>
                            <span class="url">jabong.com</span>
                            <span class="text">Don’t miss your Favorite Brand Collections at Upto 80% Off. Pay on Delivery. Shop Now!</span>
                        </div>
                    </a>
                    <div class="space-top3"></div>
                </div>
                <div class="advetise round-corner">
                    <a href="http://www.naturesbasket.co.in" target="_blank">
                        <div class="text-border">
                            <img class="image" src="~/Images/Topten-Ad/safe_image.png" alt="naturesbasket.co.in">
                            <span class="caption">Fresher. Tastier. Healthier.</span>
                            <span class="url">naturesbasket.co.in</span>
                            <span class="text">Fresh fruits & vegetables delivered in 3 hours. Use Code GNB200 to Get Rs. 200 Off!</span>
                        </div>
                    </a>
                    <div class="space-top3"></div>
                </div>
                <div class="advetise round-corner">
                    <a href="http://www.naturesbasket.co.in" target="_blank">
                        <div class="text-border">
                            <img class="image" src="~/Images/Topten-Ad/safe_image.png" alt="naturesbasket.co.in">
                            <span class="caption">Fresher. Tastier. Healthier.</span>
                            <span class="url">naturesbasket.co.in</span>
                            <span class="text">Fresh fruits & vegetables delivered in 3 hours. Use Code GNB200 to Get Rs. 200 Off!</span>
                        </div>
                    </a>
                    <div class="space-top3"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="rowAfterGmaeNews" class="page-row">
        <div class=" page-column first-second-column pull-left">
            <div id="politicalNews" class="political-news-container space-top3 round-corner">
                <div class="column-title"><a href="#" target="_blank"><span>राजनीतिक खबर</span></a></div>
                <hr class="style-three" />
                <div class="image-news-list">
                    <div class="image-news">
                        <a href="#" target="_blank">
                            <div class="news-image pull-left">
                                <img src="~/Images/Top-ten/advani-sushma_1439374915.jpg" alt="" class="image">
                            </div>
                            <div class="news-text pull-right">
                                <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                            </div>
                        </a>
                    </div>
                    <hr class="style-five" />
                    <div class="image-news">
                        <a href="#" target="_blank">
                            <div class="news-image pull-left">
                                <img src="~/Images/Top-ten/advani-sushma_1439374915.jpg" alt="" class="image">
                            </div>
                            <div class="news-text pull-right">
                                <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                            </div>
                        </a>
                    </div>
                    <hr class="style-five" />
                    <div class="image-news">
                        <a href="#" target="_blank">
                            <div class="news-image pull-left">
                                <img src="~/Images/Top-ten/advani-sushma_1439374915.jpg" alt="" class="image">
                            </div>
                            <div class="news-text pull-right">
                                <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                            </div>
                        </a>
                    </div>

                </div>
                <div class="simple-news-list newslist-container">
                    <div class="newslist-simmple">
                        <strong>अन्य खबर</strong>
                        <hr class="style-five" />
                        <ul>
                            <li><span class="heading">चोटिल शिखर धवन श्रीलंका दौरे से बाहर</span></li>
                            <li><span class="heading">30 साल बाद अपने पिता का इतिहास दोहरायेंगे स्टुअर्ट बिन्नी</span></li>
                            <li><span class="heading">आईसीसी टेस्ट रैंकिंग: अश्विन टॉप टेन में, शिखर 15 स्थान उछले</span></li>
                            <li><span class="heading">शीर्ष क्रम की कमजोर कड़ी साबित हो रहे हैं रोहित शर्मा</span></li>
                            <li><span class="heading">जीत के बाद खिलाड़ियों ने संगकारा को कंधों पर उठाया</span></li>
                        </ul>
                    </div>
                    <div class="read-more" style="margin-top: -11px;"><a href="#" target="_blank"><span>और पढ़ें</span></a></div>
                </div>
            </div>
            <div class="page-row first-second-column">
                <div class="page-column first-column-container space-top3 round-corner">
                    <div id="imageGalary" ng-controller="ImageGalarySliderCtrl" class="image-gallary-container round-corner">
                        <div class="news-title"><a href="#" target="_blank"><span>गैलरी</span></a></div>
                        <div class="image-of-week">
                            <img ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)" src="~/{{slide.image}}">
                            <div class="img-caption">
                                <span>{{setImageDescription()}}</span>
                                <a href="#" target="_blank"><span>&nbsp;&nbsp;और पढ़े</span></a>
                            </div>

                            <div class="button">
                                <div class="prev" ng-click="prevSlide()"></div>
                                <div class="next" ng-click="nextSlide()"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="page-column second-column-container  space-top3">
                    <div id="mostVistedImage" ng-controller="MostViewedImageSliderCtrl" class="most-viewed-image-gallary-container space-left1 round-corner">
                        <div class="news-title"><a href="#" target="_blank"><span>सबसे अधिक देखि गयी इमेज</span></a></div>
                        <div class="image-of-week">
                            <img ng-repeat="slide in slides" ng-hide="!isCurrentSlideIndex($index)" src="~/{{slide.image}}">
                            <div class="img-caption">
                                <span>{{setImageDescription()}}</span>
                                <a href="#" target="_blank"><span>&nbsp;&nbsp;और पढ़े</span></a>
                            </div>

                            <div class="button">
                                <div class="prev" ng-click="prevSlide()"></div>
                                <div class="next" ng-click="nextSlide()"></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="third-column-container pull-right">
            <div id="marketNews" class="market-list-container space-top3 round-corner">
                <div class="news-title"><a href="#" target="_blank"><span>ब्यापार खबर</span></a></div>
                <hr class="style-three" />
                <div class="newslist-simmple">
                    <ul>
                        <li><span class="heading">चोटिल शिखर धवन श्रीलंका दौरे से बाहर</span></li>
                        <li><span class="heading">30 साल बाद अपने पिता का इतिहास दोहरायेंगे स्टुअर्ट बिन्नी</span></li>
                        <li><span class="heading">आईसीसी टेस्ट रैंकिंग: अश्विन टॉप टेन में, शिखर 15 स्थान उछले</span></li>
                        <li><span class="heading">शीर्ष क्रम की कमजोर कड़ी साबित हो रहे हैं रोहित शर्मा</span></li>
                        <li><span class="heading">जीत के बाद खिलाड़ियों ने संगकारा को कंधों पर उठाया</span></li>
                    </ul>
                </div>
                <div class="read-more"><a href="#" target="_blank"><span>और पढ़ें</span></a></div>
            </div>
            <div id="jyotishi" class="jyotishi-container  space-top3 round-corner">
                <div class="news-title border-bottom"><a href="#" target="_blank"><span>ज्योतिषी</span></a></div>

                <div class="read-more"><a href="#" target="_blank"><span>और पढ़ें</span></a></div>
            </div>
        </div>
    </div>
</div>














































@*<div class="page-row" style="height: 322px;">
    <div class="first-second-column">
    </div>
    <div class="page-column">
        <div class="third-column-container">
            <div class="column-title"><span>राशिफल</span></div>
            <div class="column-body-container">
                <div class="other-column-body">
                </div>
            </div>
        </div>
    </div>

</div>
<div class="news-list-container">
    <div class="news-list-medium">
        <a href="#" target="_blank">
            <div class="image-div">
                <img src="~/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png" />
            </div>
            <div class="content-div">
                <span style="padding-right: 2px;">सबसे बड़ी एवि‍एशन डील : सबसे बड़ी एवि‍एशन डील : इंडि‍गो ने 250 एयरबस के लि‍ए दि‍या 25 अरब डॉलर का ऑर्डर</span>
            </div>
        </a>
    </div>

    <div class="page-column">
        <div class="first-column-container">
            <div class="column-title"><span>हेल्थ टिप्स</span></div>
            <div class="column-body-container">

                <a href="#">
                    <div class="first-column-body">
                        <img class="image" src="~/Images/HealthTips/1_1439210609.jpg" alt="">
                    </div>
                    <div class="first-image-text">
                        <span>लोकसभा में बुधवार को ललितगेट पर चर्चा के दौरान बीजेपी सांसद की टिप्पणी पर सोनिया गांधी ने कड़ा एतराज जताया। </span>
                    </div>
                </a>

            </div>
        </div>
    </div>
*@