@model IEnumerable<Infotainment.Areas.Admin.Models.AdvertismentModal>

@{
    ViewBag.Title = "Select";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Select", " Advertisment", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <section class="container">
        @*<div class="row row-offcanvas row-offcanvas-right">*@
        <h3>@ViewBag.Title</h3>
        <hr />
        @*<div class="col-xs-12 col-sm-9">*@
        <div class="row">
            @foreach (var advertise in Model)
                    {
                    <div class="col-xs-6 col-lg-4">
                        <div class="advetise round-corner">
                            <div class="text-border" style=" width:100%; height:30px; padding:5px 1px 5px 1px;">
                                <div style="width:100%;">
                                    <span style="font-size:100%;" class="@(advertise.IsApproved  ? "label label-success" : "label label-warning")">
                                        @(advertise.IsApproved ? "Approved" : "Approval Pending")
                                    </span>
                                    &nbsp;
                                    <span style="font-size:100%; padding:4px;" class="@(advertise.IsActive ? "label label-success" : "label label-warning")">
                                        @(advertise.IsActive ? "Active" : "Not Active")
                                    </span>
                                    &nbsp;
                                    @{
                                         var url = HttpUtility.UrlDecode(Url.Action("Update", "Advertisment", new { AdvertismentID = advertise.AdvertismentID }));
                                    }

                                    <a href="#" style="font-size: 100%;  padding: 6px; margin-top: -3px; cursor:pointer;" class="label label-danger pull-right" title="Click to delete this advertisment.">X</a>
                                </div>

                            </div>
                            @{
                                    url = advertise.WebLink;
                            }
                            <a href="@url" target="_blank">
                                <div class="text-border" style="width:100%;margin-top:1px;">
                                    <img style="width:100%;" src="@Url.Content(advertise.ImgUrl)" alt="">
                                    <span class="caption">@advertise.Heading</span>
                                    <span class="url">@advertise.WebUrl</span>
                                    <span class="text">@advertise.ShortDesc</span>
                                </div>
                            </a>
                            <div style="width:100%; text-align:center; padding:1px;">
                                @{
                                    url = HttpUtility.UrlDecode(Url.Action("Update", "Advertisment", new { AdvertismentID = advertise.AdvertismentID }));
                                }
                                <button type="button" class="btn btn-success" style="padding:2px; width:100%;" ng-click="OpenWindow('@url');" title="Click to modify this advertisment.">Modify</button>
                            </div>
                        </div>
                        <div class="space-top5"></div>
                    </div>
                     }
        </div>
        @*</div>
            </div>*@
    </section>
                                }