<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/Angular")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/bundles/AngularModule")
    @Scripts.Render("~/bundles/Common")
    @Scripts.Render("~/bundles/Services")

    @Scripts.Render("~/bundles/ClientControllers")
    @*@Scripts.Render("~/bundles/MainNewsCtrl")
        @Scripts.Render("~/bundles/StateNewsCtrl")*@

</head>
<body ng-app="infotainment" ng-controller="mainCtrl">
    <header class="header">
        <section id="stickyHeader" class="social-media-banner">
            <div class="container">
                <div class="row">
                    <div class="col-xs-3">
                        <span style="padding: 2px; padding-top: 5px;">{{todayDate}}</span>
                    </div>
                    <div class="col-xs-6">
                        <span style="padding: 2px; padding-top: 5px;"></span>
                    </div>
                    <div class="col-xs-3 text-right">
                        <ul class="social-media">
                            <li>
                                <a href="{{fbUrl}}" title="Facebook" target="_blank">
                                    <div class="fbook-icon-small round-corner"></div>
                                </a>
                            </li>
                            <li>
                                <a href="{{twiterUrl}}" class="twitter-icon" title="Twitter" target="_blank">
                                    <div class="twitter-icon-small round-corner"></div>
                                </a>
                            </li>
                            <li>
                                <a href="{{gPlusUrl}}" class="gplus-icon" title="Google Plus" target="_blank">
                                    <div class="gplus-icon-small round-corner"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="headerBanner" class="header-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="logo">
                            <span>Anand</span>
                            <span>Infotainment</span>
                        </div>
                    </div>
                    <div class="col-lg-8"></div>
                </div>
            </div>
        </section>
        <section id="stickyMenu" class="main-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        @Html.Partial("_PartialMainMenu")
                    </div>
                </div>
            </div>
        </section>
    </header>
    <section id="body" class="bodySection" style="padding-top:5px; min-height:900px;">
        @RenderBody()
    </section>
    <footer style="width:100%;">
        @Html.Partial("_PartialFooter")
    </footer>
    <script>
        $(function () {
            var stickyMenu = $('#stickyMenu').offset().top;

            $(window).scroll(function () {
                if ($(window).scrollTop() > stickyMenu) {
                    $('#stickyMenu').css({ position: 'fixed', width: '100%', top: '-1px' });
                } else {
                    $('#stickyMenu').css({ position: 'static', width: '100%', top: '1px' });
                }


            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
