@using Infotainment.Extension
@model Infotainment.Models.Entities.News


@{
    ViewBag.Title = "Infotainment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" ng-controller="newsDetailCtrl">
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12" ng-repeat="news in imageNewsList">
                    <div class="pull-left padding-right-five">
                        <img class=" news-image" ng-src="~/{{news.ImageUrl}}" alt=" ">
                    </div>
                    <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                        <span class="news-heading"> {{news.Heading}}</span>
                    </a>
                    <p class="news-text" style="padding:0px; margin:0px;">{{news.ShortDesc | limitTo:shortDescLimit}}...&nbsp; </p>
                    <p style="padding:0px; margin:0px; text-align:right" class="news-date">
                        {{news.DttmCreated | hindiDate}}
                        <a class="more" data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">और पढ़ें..</a>
                    </p>
                    <hr class="style-seven" />
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>
                <span class="news-detail-heading">@Model.Heading</span>
            </p>
            <a href="#" target="_self">
                <span class="news-detail-editor">
                    @if (!string.IsNullOrEmpty(Model.EditorName))
                    {
                        <span>Reported by: @Model.EditorName &nbsp;| &nbsp;</span>
                    }
                    @Model.DttmCreated
                </span>
            </a>
            <p>
                <img class="news-detail-Image" src="~/@Url.Content(Model.ImageUrl)" />
                <span>@Model.ImageCaption</span>
            </p>
            <p class="news-detail-content"><span class="news-detail-desc">@Model.ShortDesc</span></p>
            <div class="news-detail-content">
                <div class="news-detail-desc">
                    @Html.Literal(Model.NewsDesc)
                </div>
            </div>

            @* <div>More</div>*@
        </div>
        <div class="col-xs-3">

            <div class="row">
                <div class="col-xs-12" ng-repeat="news in simpleNewsList">
                    <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">
                        <span class="news-heading"> {{news.Heading}}</span>
                    </a>
                    <p class="news-text" style="padding:0px; margin-top:2px;">{{news.ShortDesc | limitTo:shortDescLimit}}...&nbsp; </p>
                    <p style="padding:0px; margin:0px; text-align:right" class="news-date">
                        {{news.DttmCreated | hindiDate}}
                        <a class="more" data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_self">और पढ़ें..</a>
                    </p>
                    <hr class="style-seven" />
                </div>
            </div>

        </div>
    </div>
</div>
