@model Infotainment.Models.Entities.News

@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" ng-controller="newsDetailCtrl">
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12" ng-repeat="news in imageNewsList">
                    <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_blank">

                        <div class="pull-left padding-right-five">
                            <img class="news-image" ng-src="{{news.ImageUrl}}" alt=" ">
                        </div>
                        <p>
                            <span class="news-heading" style="font-weight:normal; font-size:14px;"> {{news.Heading}}</span>
                            <span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated | hindiDate}}</span>
                        </p>


                        @*<span class="news-date text-center">{{news.DttmCreated}}</span>*@
                        @*<p class="news-text padding-top-2">{{news.ShortDesc}}&nbsp;&nbsp;<span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated}}</span></p>*@
                    </a>
                    <hr class="style-two" />
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>
                <span class="news-detail-heading">@Model.Heading</span>
            </p>
            <a href="#" target="_blank"><span class="news-detail-editor">Reported by: @Model.EditorName &nbsp;|&nbsp;@Model.DttmCreated</span></a>
            <p>
                <img class="news-detail-Image" src="@Url.Content(Model.ImageUrl)" />
                <span>@Model.ImageCaption</span>
            </p>
            <p class="news-detail-content"><span class="news-detail-desc">@Model.ShortDesc</span></p>
            <p class="news-detail-content"><span class="news-detail-desc">@Model.NewsDesc</span></p>

            @* <div>More</div>*@
        </div>
        <div class="col-xs-3">

            <div class="row">
                <div class="col-xs-12" ng-repeat="news in simpleNewsList">
                    <a data-ng-href="@HttpUtility.UrlDecode(Url.Action("NewsDetail", "MainNews", new { NewsId = "{{news.NewsID}}" }))" target="_blank">
                        <span class="news-heading"> {{news.Heading}}</span>
                        <p class="news-text padding-top-2">{{news.ShortDesc}}&nbsp;&nbsp;<span class="news-date text-right" style="white-space:nowrap">{{news.DttmCreated | hindiDate}}</span></p>
                    </a>
                    <hr class="style-two" />
                </div>
            </div>

        </div>
    </div>
</div>


