@model Infotainment.Areas.Admin.Models.CreateStateNews
@using System.Web.UI.WebControls
@{
    ViewBag.Title = "InsertNews";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("InsertNews", "StateNews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @section Scripts{
        <script type="text/javascript">
            function fileCheck(obj) {
                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                if ($.inArray($(obj).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    alert("Only '.jpeg','.jpg', '.png', '.gif', '.bmp' formats are allowed.");
                }
            }
        </script>
    }
    var StateCodeList = new List<ListItem>();
    foreach (var v in Model.States)
    {
        StateCodeList.Add(new ListItem { Text = v.Name, Value = v.Code });
    };

    <div class="contaier">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-collapse">
                <div class="panel-heading">
                    <h4 class="panel-title">Insert State News</h4>
                    <hr class="style" />
                    @*<div style="float:right; font-size: 80%; position: relative; top:-10px"><a href="#">Forgot password?</a></div>*@
                </div>
                <div class="panel-body">
                    <div class="alert alert-danger">
                        <a class="close" data-dismiss="alert" href="#">×</a>
                        @ViewBag.Message
                    </div>
                    <div class="form-group">
                        <ul class="list-group list-inline label-info">
                            <li style="padding:8px;">
                                <span>Select State</span>
                                <br />
                                @Html.DropDownListFor(model => model.StateCode, new SelectList(StateCodeList, "Value", "Text"), new { @class= "form-control"})
                            </li>
                            <li style="padding:8px;">
                                <span>Select Image</span>
                                <br />
                                @Html.ValidationMessageFor(model => model.Image)
                                <input type="file" name="Image" id="Image" onchange="fileCheck(this);">
                            </li>
                            <li style="padding:5px;">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(model => model.IsTopTenNews, new { @style = "height:20px; width:20px;" })
                                    <span style="font-size:15px; vertical-align: super;">&nbsp;Is top news</span>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="form-group margin-bottom-20">
                        <span class="control-label">News Heading</span>
                        <input class="form-control text-box single-line" data-val="true" data-val-required="The heading field is required." id="Heading" name="Heading" type="text" value="">
                    </div>

                    <div class="form-group margin-bottom-20">
                        <span class="control-label">Image Caption</span>
                        <input class="form-control text-box single-line" data-val="true" data-val-required="The Caption field is required."
                               id="Caption" name="Caption" type="text" value="" placeholder="It will appear below image to show, from it took.">
                    </div>

                    <div class="form-group margin-bottom-20">
                        <span class="control-label">Caption Link</span>
                        <input class="form-control text-box single-line" data-val="true" data-val-required="The Caption field is required."
                               id="CaptionLink" name="CaptionLink" type="text" value="" placeholder="Optional! Web url link to open web on image caption. ">

                    </div>
                    <div class="form-group margin-bottom-20">
                        <span class="control-label ">Short Desc</span>
                        <textarea class="form-control" cols="100" data-val="true" id="ShortDesc" name="ShortDesc" placeholder="Enter short description..." data-val-required="The ShortDesc field is required." rows="5"></textarea>

                    </div>
                    <div class="form-group margin-bottom-20">
                        <label class="control-label" for="Contents">Description</label>
                        <textarea class="ckeditor" data-val="true" id="Description" name="Description" placeholder="Enter description...">@Model.Description</textarea>
                    </div>

                    <div class="form-group margin-bottom-20 text-center">
                        <input type="submit" id="btnSubmit" value="Click to Insert News" class="form-control btn btn-success" style="width:50%;" />
                    </div>
                </div>
            </div>
        </div>

    </div>

}
