@model Infotainment.Areas.Admin.Models.SearchNewsFilter

@{
    ViewBag.Title = "State news Search";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DateFrom').datepicker({ dateFormat: "d-M-yy" });
            $('#DateTo').datepicker({ dateFormat: "d-M-yy" });
        });
    </script>
}
@using (Html.BeginForm("StateNewsSearch", "Search", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <section id="NewsDetails" ng-controller="searchCtrl">
        <div class="round-corner-top row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>State News Search</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list-group list-inline label-info">
                            <li style="padding:8px;">
                                <span class="control-label">Date from:</span>
                                <input id="DateFrom" name="DateFrom" type='text' class="form-control" style="height:22px; width:150px;" value="@Model.DateFrom.ToString("dd-MMM-yyyy")" />
                            </li>
                            <li style="padding:8px;">
                                <span class="control-label">Date to:</span>
                                <input id="DateTo" name="DateTo" type='text' class="form-control" style="height:22px; width:150px;" value="@Model.DateTo.ToString("dd-MMM-yyyy")" />

                            </li>
                            <li style="padding:8px;">
                                @Html.CheckBoxFor(m => m.IsActive, new { @style = "margin-top:25px;" }) <span>&nbsp;Is Active</span>
                                @Html.CheckBoxFor(m => m.IsApproved, new { @style = "margin-top:25px;" })<span>&nbsp;Is Approved</span>
                            </li>
                            <li style="padding:8px;">
                                <span class="control-label">Header:</span>
                                <input type="text" class="form-control" style="height:22px;" name="Header" id="Header" />
                            </li>
                            <li class="text-center" style="padding:8px;">
                                <input class="btn btn-success" style="height:23px; padding:0 23px 0 23px; " type="submit" value="Submit">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:-20px;">
            <div class="col-xs-12 table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <thead>
                        <tr class="boxHeader label-info border-shadow-inside round-corner-top" style="height:35px;">
                            <th style="display:none;">&nbsp;</th>
                            <th class="text-left" width="1%">#</th>
                            <th class="text-left" width="15%">Status</th>
                            <th class="text-left" width="10%">State</th>
                            <th class="text-left" width="10%">Is Top News</th>
                            <th class="text-left" width="45%">Heading</th>
                            <th class="text-right padding-right-five" width="18%">Created Date Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model.NewsList)
                            {
                                <tr style="cursor:pointer;" ng-click="OpenWindow('@HttpUtility.UrlDecode(Url.Action("UpdateNews", "StateNews", new { NewsID = item.NewsID }))');">
                                    <td style="display:none;">
                                        <input id="IsActiveHidden" type="hidden" value=">@item.NewsID" name="TopNewsID" />
                                    </td>
                                    <td >@item.DisplayOrder</td>
                                    <td class="text-center">
                                        <span style="font-size:100%; padding:4px; display:inline; float:left;" class="@(item.IsApproved == 1 ? "label label-success" : "label label-warning")">
                                            @(item.IsApproved == 1 ? "Approved" : "Approval Pending")
                                        </span>
                                        <span style="font-size:100%; padding:4px; display:inline; float:left;">&nbsp;</span>
                                        <span style="font-size:100%; padding:4px; display:inline; float:left;" class="@(item.IsActive == 1 ? "label label-success" : "label label-warning")">
                                            @(item.IsActive == 1 ? "Active" : "Not Active")
                                        </span>
                                    </td>
                                    <td class="text-left">
                                        @item.StateName
                                    </td>
                                    <td class="text-center">
                                        <span style="font-size:100%; padding:4px; display:inline; float:left;" class="@(item.IsTopNews == 1 ? "label label-danger" : "label label-success")">
                                            @(item.IsTopNews == 1 ? "Yes" : "NA")
                                        </span>
                                    </td>
                                    <td>@item.Heading </td>
                                    <td class="text-right padding-right-five">@item.DttmCreated</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
}
