@model Infotainment.Areas.Admin.Models.InterNewsListFilter

@{
    ViewBag.Title = "InterNewsSearch";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#DateFrom').datepicker({ dateFormat: "d-M-yy" });
            $('#DateTo').datepicker({ dateFormat: "d-M-yy" });
        });
    </script>
}
@using (Html.BeginForm("InterNewsSearch", "Search", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <section id="NewsDetails" class="container" ng-controller="searchCtrl">

        <div class="round-corner-top row">
            <div class="col-xs-12">
                <div>
                    <h3>Internationa News</h3>
                    <hr class="style-six" />
                </div>
                <table style="width:100%; border:0px; border-collapse:collapse; padding:0px; border-spacing:0px;">
                    <tr>
                        <td class="text-left" style="width:15%;">
                            <span class="control-label">Date from:</span>
                            <input id="DateFrom" name="DateFrom" type='text' class="form-control" style="height:22px;" value="@Model.DateFrom.ToString("dd-MMM-yyyy")" />
                        </td>
                        <td class="text-left" style="width:15%;">
                            <span class="control-label">Date to:</span>
                            <input id="DateTo" name="DateTo" type='text' class="form-control" style="height:22px;" value="@Model.DateTo.ToString("dd-MMM-yyyy")" />
                        </td>
                        <td class="text-right" style="width:5%; vertical-align:bottom;">
                            @Html.CheckBoxFor(m => m.IsActive)
                        </td>
                        <td class="text-left" style="width:15%; vertical-align:bottom;">
                            &nbsp;Is Active
                        </td>
                        <td class="text-right" style="width:5%; vertical-align:bottom;">
                            @Html.CheckBoxFor(m => m.IsApproved)
                        </td>                        
                        <td class="text-left" style="width:15%; vertical-align:bottom;">&nbsp;Is Approved</td>
                        <td class="text-left" style="width:20%;">
                            <span class="control-label">Header:</span>
                            <input type="text" class="form-control" style="height:22px;" name="Header" id="Header" />
                        </td>
                        <td class="text-right" style="width:10%; vertical-align:bottom;">
                            <input class="btn btn-default" style="height:22px; padding:0 10px 0 10px;" type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="content">
                    <div id="grid" class="grid-control table-responsive">
                        <table class="table table-hover table-condensed">
                            <thead class="boxHeader">
                                <tr>
                                    <th style="display:none;">TopNewsID</th>
                                    <th style="display:none;" class="text-left" width="2%">Order</th>
                                    <th class="text-left" width="20%">Status</th>
                                    <th class="text-left" width="10%">Is Top News</th>
                                    <th class="text-left" width="50%">Heading</th>
                                    @*<th class="text-left" width="45%">Sort Desc</th>*@
                                    @*<th class="text-left" width="16%">Editor Name</th>*@
                                    <th class="text-left" width="18%">Created Date Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model.NewsList)
                                    {
                                        <tr style="cursor:pointer;" ng-click="OpenWindow('@HttpUtility.UrlDecode(Url.Action("UpdateNews", "International", new { NewsID = item.NewsID }))');">
                                            <td style="display:none;">
                                                <input id="IsActiveHidden" type="hidden" value=">@item.NewsID" name="TopNewsID" />
                                            </td>
                                            <td style="display:none;">@item.DisplayOrder</td>
                                            <td class="text-center">
                                                <span style="font-size:100%; padding:4px; display:inline; float:left;" class="@(item.IsApproved == 1 ? "label label-success" : "label label-warning")">
                                                    @(item.IsApproved == 1 ? "Approved" : "Approval Pending")
                                                </span>
                                                <span style="font-size:100%; padding:4px; display:inline; float:left;">&nbsp;</span>
                                                <span style="font-size:100%; padding:4px; display:inline; float:left;" class="@(item.IsActive == 1 ? "label label-success" : "label label-warning")">
                                                    @(item.IsActive == 1 ? "Active" : "Not Active")
                                                </span>
                                            </td>
                                            <td class="text-center">                                                
                                                <span style="font-size:100%; padding:4px; display:inline; float:left;" class="@(item.IsTopNews == 1 ? "label label-danger" : "label label-success")">
                                                    @(item.IsTopNews == 1 ? "Yes" : "NA")
                                                </span>
                                            </td>
                                            <td>@item.Heading </td>
                                            @*<td>@item.ShortDescription </td>*@
                                            <td>@item.DttmCreated</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
}
